@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(51, 51, 51, 0.2) url("sky.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.search {
  margin: 20px 12px;
  display: flex;
  flex-direction: column;
}
#error-message {
  color: red;
  font-size: 15px;
  padding: 5px;
  display: none;
}
.search input {
  color: white;
  font-size: 16px;
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #191e24;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}
.weather-infos {
  display: flex;
  align-items: center;
  position: relative;
  top: 40%;
  left: 15%;
}

.temp-box {
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
}
#current-temp {
  font-size: 70px;
}
.units {
  margin-left: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.units span {
  padding: 5px;
  color: white;
}
.units span:hover {
  cursor: pointer;
  color: black;
}
#city-name {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 10px;
  font-style: italic;
}
img {
  width: 150px;
  height: auto;
}
#more-infos {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.description {
  font-size: 22px;
  font-style: italic;
  color: black;
}
